<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>ABOUT</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Diabetic Retinopathy</a></div>
            <ul class="links">
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html"> About</a></li>
                <li><a href="flow.html"> Flow</a></li>
                <li><a href="contact.html"> Contact Us</a></li>
            </ul>
            <div class="toggle_btn"> 
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html"> About</a></li>
            <li><a href="flow.html"> Flow</a></li>
            <li><a href="contact.html"> Contact Us</a></li>
        </div>
        <div class="aboutus">
            <div class="big_tools">
                <div class="big_circle">
                  <span class="red box"></span>
                </div>
                <div class="big_circle">
                  <span class="yellow box"></span>
                </div>
                <div class="big_circle">
                  <span class="green box"></span>
                </div>
              </div>
            <div class="about_content">
                
                <div>
                    <h1 class="about_H">ABOUT</h1>
                    <p>As a result of a sedentary lifestyle in today's digital world people are at risk for many health problems such as Diabetic retinopathy. The rising condition in developing countries suggests that this might soon become a serious problem in the clinical world. Diabetic retinopathy is one of the most threatening complications of diabetes that leads to permanent blindness if left untreated. One of the essential challenges is early detection, which is extremely important for treatment success.It's an automatic deep-learning-based method for stage detection of diabetic retinopathy by single photography of the human fundus. With the help of the model we can accurately detect which stage of DR the patients have. The specialists can refer to the diagnosis and create their own conclusion.Instead of having a manual system, Doctors/Specialists can use an automated system which makes it easier and also prevents human error.
                    </p>
                </div>
            </div>
        </div>
    </header>

    


    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function(){
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')
            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
    </script>
</body>

</html>
